<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>ingredienti</title>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <main class="container">
      <div class="row my-5">
        <div class="col-6">
          <div class="search-container">
            <form
              class="d-flex"
              th:action="@{/ingredienti/searchByNome}"
              method="get"
            >
              <input
                type="text"
                name="nome"
                class="form-control"
                placeholder="Cerca ingrediente..."
              />
              <button type="submit" class="btn btn-primary">Cerca</button>
            </form>
          </div>
        </div>

        <div class="col-6">
          <a class="btn btn-primary w-100" th:href="@{/ingredienti/create}"
            >Aggiungi un ingrediente</a
          >
        </div>
      </div>

      <hr />

      <h1>Ingredienti</h1>
      <hr />

      <section class="row">
        <div class="col-12">
          <table th:if="${ingredienti.size() > 0}" class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nome Ingrediente</th>
                <!-- <th>Descrizione</th> -->
                <th>Numero di Pizze</th>
                <th></th>
                <th sec:authorize="hasAuthority('ADMIN')"></th>
                <th sec:authorize="hasAuthority('ADMIN')"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                th:each="ingrediente : ${ingredienti}"
                th:object="${ingrediente}"
              >
                <td th:text="${ingrediente.id}"></td>
                <td th:text="${ingrediente.nome}"></td>
                <!-- <td th:text="${ingrediente.descrizione}"></td> -->
                <td th:text="${ingrediente.pizze.size()}"></td>
                <td>
                  <a
                    class="btn btn-primary btn-sm"
                    th:href="@{/ingredienti/{id}(id=${ingrediente.id})}"
                    >show</a
                  >
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                  <a
                    class="btn btn-success btn-sm"
                    th:href="@{/ingredienti/edit/{id}(id=${ingrediente.id})}"
                    >edit</a
                  >
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    data-bs-toggle="modal"
                    th:data-bs-target="'#delete-modal-' + ${ingrediente.id}"
                  >
                    Delete
                  </button>

                  <div
                    class="modal fade"
                    th:id="'delete-modal-' + ${ingrediente.id}"
                    tabindex="-1"
                    aria-labelledby="delete-modal"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">
                            Stai eliminando la ingrediente: [[*{nome}]]
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          Sei sicuro di voler eliminare la ingrediente:
                          [[*{nome}]]?
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Chiudi
                          </button>
                          <form
                            action="#"
                            th:action="@{/ingredienti/delete/{id}(id=${ingrediente.id})}"
                            method="post"
                          >
                            <button type="submit" class="btn btn-danger">
                              Elimina
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <p th:unless="${ingredienti.size() > 0}">
          Nessuna ingrediente presente nella nostra applicazione...
        </p>
      </section>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
  </body>
</html>
