<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Home</title>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="container">
      <h1>Home</h1>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero aliquid
        et corrupti similique voluptas perferendis consequuntur? Eveniet earum
        ipsa iure magnam suscipit, illo doloremque labore. Eveniet expedita
        dolore nemo, aut suscipit ipsa magni id nisi illo nihil neque delectus
        quam voluptatem perferendis. Corrupti minima voluptatem quaerat tempora
        molestiae a quae iste dolore, illum autem voluptate nam quas, sunt ipsum
        ipsam deserunt cupiditate aliquam dignissimos recusandae? Aperiam velit
        suscipit nulla dolorem dolor quae! Magnam officia non, ipsa nemo velit
        quod cumque natus, amet enim impedit unde quae minus aliquam asperiores
        voluptas expedita! Pariatur deserunt reprehenderit, vel quisquam
        praesentium rem corporis quo.
      </p>
    </div>

    <div th:replace="~{fragments/resources :: scripts}"></div>
  </body>
</html>
